.body_container {
  position: relative;
  width: 100vw;
  height: auto;
  background-color: transparent;
}

.body_content {
    width: 100vw;
    height: 60vh;
    position: relative;
  }

  .webPic {
    position: absolute;
    background-image: url(src/assets/pixelThought.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 44%;
    height: 100%;
    left: 20px;
    top: 32px;
    border-radius: 20px;
  }

  .image-L {
    position: absolute;
    background-image: url(src/assets/img1.jpg);
    background-repeat: none;
    object-fit: cover;
    width: 44%;
    height: 85%;
    left: 20px;
    top: 32px;
    border-radius: 20px;
  }

   .image-R {
    position: absolute;
    background-image: url(src/assets/img5.jpg);
    background-repeat: none;
    object-fit: contain;
    width: 44%;
    border-radius: 20px;
    height: 85%;
    right: 30px;
    top: 32px;
  }
  
  .fontR {
    overflow: hidden;
    /* border: 1px solid black; */
    position: absolute;
    display: flex;            
    justify-content: center;   
    align-items: center;      
    text-align: center;
    width: 0;
    height: 100%;
    font-size:1.5em;
    right: 30px;
    color:ghostwhite;
    animation: typing 1.8s steps(60) 2s forwards;
    /* border: 1px solid black; */
    /* white-space: nowrap; */
  }

  .fontL {
    overflow: hidden;
    /* border: 1px solid black; */
    position: absolute;
    display: flex;            
    justify-content: center;   
    align-items: center;       
    text-align: center;
    width: 0;
    height: 100%;
    font-size: 1.5em;
    left: 20px;
    color: ghostwhite;
    animation: typing 1.3s steps(60) 2s forwards;
    /* white-space: nowrap; */

  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 48%;
    }
  }
  .left-text{
    height: 30vh;
    max-width:50vw ;
    /* border: 1px solid black; */
    overflow: hidden;
  }
  .right-text{
    height: 30vh;
    max-width:50vw ;
    /* border: 1px solid black; */
    overflow: hidden;
  }