.contact-me {
  text-align: center;
  padding:20px;
  backdrop-filter: blur(3px);
}

.contact-me h1 {
    color: #ffffff;
    text-decoration: underline ;
    translate: 0 -10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 10px;
}

.social-icons a {
  color: #ffffff;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #3dffe2;
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
