.box {
  position: fixed; /* Keeps it fixed on the left */
  top: 0vh;
  left: 0;
  height: 100%; /* Full height */
  width: 1px; /* Default width (collapsed state) */
  background-color: transparent; /* Dark background */
  color: white;
  overflow-x: hidden; /* Prevents horizontal scroll */
  transition: width 0.3s ease; /* Smooth transition */
  backdrop-filter: blur(3px);
  z-index: 100;
  border: 2px solid #ccccccc8;
  
}

.box:hover {
  width: 220px; /* Expanded width */
  box-shadow: 0 0 10px 1px #3dffe2c8;
}

.icon-section {
  padding: 0px 20px;
}

.icon-section:hover {
  color: #00ffd9;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.icon-section a p {
  margin-left: 10px;
}

.icon-section a {
  text-decoration: none;
  text-align: center;
  color: inherit; /* Inherit color from parent */
  display: inline-flex;
  align-items: center;
  font-size: 25px;
  transition: color 0.3s;
  margin-left:0%;

}

.MusicButton {
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  color: inherit; /* Inherit color from parent */
  display: inline-flex;
  align-items: center;
  font-size: 25px;
  transition: color 0.3s;
  margin-left: 10px;
  margin-top: 20px;
  padding: 0;
}

.MusicIcon {
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  color: inherit; /* Inherit color from parent */
  display: inline-flex;
  align-items: center;
  font-size: 25px;
  transition: color 0.3s;
  margin-top: 20px;
  padding: 0;
}

.MusicButton:hover{
  background-color: transparent;
  color: #00ffd9;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
